<mat-progress-bar mode="indeterminate" color="accent" *ngIf="progress1"></mat-progress-bar>
<div class="alert {{class}}" *ngIf="class" role="alert">
  {{message}}
</div>
<div *ngIf="fileStatus.status==='progress'">
  <div class="progress">
    <div [style.width.%]="fileStatus.percent" class="progress-bar progress-bar-animated bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        {{ fileStatus.requestType }} {{ fileStatus.percent }} 
      </div>
  </div>
</div> 
<div class="container text-center mt-2">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field>
      <mat-label>Select Date </mat-label>
      <input required matInput ngModel name="date" [matDatepicker]="dob">
      <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
      <mat-datepicker #dob></mat-datepicker>
    </mat-form-field>
    <button type="submit" class="ml-2" mat-raised-button color="primary">Search Notes By Date</button>
    <br>
  </form>
  <mat-form-field appearance="fill">
    <mat-label>Enter the topic name</mat-label>
    <input #topic matInput>
  </mat-form-field>
  <button class="ml-2" mat-raised-button (click)="search(topic.value)">Search Notes</button>
  <br>
  <button type="button" class="mt-1" (click)="getAllNotes()" mat-raised-button>Get All Notes</button>
</div>
<div class="mt-4 container" color="primary" *ngFor="let note of  searchNotes">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{note.course}}
        </mat-panel-title>
        <mat-panel-description>
          <h3 style="font-weight: bold;">{{note.semester}}-{{note.subject}}--{{note.unit}}---{{note.topic}}</h3>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row text-center">
        <div class=" col-md-4" *ngFor="let files of note.files;let i=index">
          <span>{{files | slice:files.length/2:files.length  }}</span>
          <button (click)="download(files,true)" color="primary" class="ml-2" mat-mini-fab
          aria-label="Example icon button with a home icon">
          <mat-icon>
            <span class="material-icons-two-tone">
              download
            </span>
          </mat-icon>
        </button>
        <button (click)="openDialogForDeleteOneNote(note.id,i,true)" class="ml-2" color="warn" mat-mini-fab aria-label="Example icon button with a home icon">
          <mat-icon><span class="material-icons-two-tone">
              delete
            </span></mat-icon>
        </button>
        </div>
      </div>
      <div class="row text-center">
        <div class=" col-md-4" *ngFor="let videos of note.videos; let i=index">
          <span>{{videos | slice:videos.length/2:videos.length}}</span>
          <button (click)="download(videos,false)" color="primary" class="ml-2" mat-mini-fab
          aria-label="Example icon button with a home icon">
          <mat-icon>
            <span class="material-icons-two-tone">
              download
            </span>
          </mat-icon>
        </button>
          <button (click)="openDialogForDeleteOneNote(note.id,i,false)" class="ml-2" color="warn" mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon><span class="material-icons-two-tone">
                delete
              </span></mat-icon>
          </button>
          <button (click)="openDialogForVideo(videos,false)"  class="ml-2" mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon><span class="material-icons-outlined">
                play_arrow
              </span></mat-icon>
          </button>
        </div>
      </div>
      <div class="text-center mt-2">
        <button mat-raised-button (click)="openDialogToDeleteCompleteNote(note.id)" color="warn">Delete</button>
        <button mat-raised-button (click)="openDialogToUpdate(note.id)" color="accent" class="ml-2">Update</button>
        <p style="text-align:left;">
          By Lect.{{note.teacher.name}}
          <span style="float:right;">
          {{note.date}}
          </span>
      </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="mt-4 container" *ngFor="let note of  notes">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{note.course}}
        </mat-panel-title>
        <mat-panel-description>
          <h3 style="font-weight: bold;">{{note.semester}}-{{note.subject}}--{{note.unit}}---{{note.topic}}</h3>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row text-center mt-2">
        <div class=" col-md-4 mt-2" *ngFor="let files of note.files;let i=index">
          <span>{{files | slice:files.length/2:files.length  }}</span>
          <button (click)="download(files,true)" color="primary" class="ml-2" mat-mini-fab
          aria-label="Example icon button with a home icon">
          <mat-icon>
            <span class="material-icons-two-tone">
              download
            </span>
          </mat-icon>
        </button>
      
          <button (click)="openDialogForDeleteOneNote(note.id,i,true)" class="ml-2" color="warn" mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon><span class="material-icons-two-tone">
                delete
              </span></mat-icon>
          </button>
        </div>
      </div>
      <div class="row text-center mt-2">
        <div class=" col-md-4 mt-2" *ngFor="let videos of note.videos; let i=index">
          <span>{{videos}}</span>
          <button (click)="download(videos,false)" color="primary" class="ml-2" mat-mini-fab
          aria-label="Example icon button with a home icon">
          <mat-icon>
            <span class="material-icons-two-tone">
              download
            </span>
          </mat-icon>
        </button>
          <button (click)="openDialogForDeleteOneNote(note.id,i,false)" class="ml-2" color="warn" mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon><span class="material-icons-two-tone">
                delete
              </span></mat-icon>
          </button>
          <button (click)="openDialogForVideo(videos,false)" class="ml-2" mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon><span class="material-icons-outlined">
                play_arrow
              </span></mat-icon>
          </button>
        </div>
      </div>
      <div class="text-center mt-2">
        <button mat-raised-button (click)="openDialogToDeleteCompleteNote(note.id)" color="warn">Delete</button>
        <button mat-raised-button (click)="openDialogToUpdate(note.id)" color="accent" class="ml-2">Update</button>
        <p style="text-align:left;">
          By Lect.{{note.teacher.name}}
          <span style="float:right;">
          {{note.date}}
          </span>
      </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

