<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/admin/courses/addCourse">Add Course</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/courses/addCourseDetail">Add Course Detail</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/courses/addAdmin">Create Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/courses/deleteTeacher">Delete Teacher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/courses/deleteAdmin">Delete Admin</a>
      </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/admin/courses/deleteCourses" tabindex="-1">Delete Course</a>
    </li>
  </ul>

    <router-outlet></router-outlet>
  