@media(min-width:768px){
    .c{
     width:25rem;
    }
   }
   @media(min-width:768px){
    .c1{
     width:25rem;
     margin-top:1rem;
    }
   }
   .heading{
        color: white;
        font-size: larger;
   }
   input.ng-invalid.ng-touched{
     border:2px solid red;
 }