<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/admin/courses/addCourse">Admin Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/admin/viewAllCourses">  All Courses </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Teacher Section
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/admin/viewAllTeachers"> All Teachers</a>
          <a class="dropdown-item" routerLink="/admin/viewAllTeacherRequests">Teacher Requests</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/admin/viewAllAdmins">  All Admins </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a class="nav-link" (click)="openDialog()">{{name}}</a></li>
      <li class="nav-item active"><a class="nav-link" (click)="logout()">Logout</a></li>
    </ul>

  </div>
</nav>
<router-outlet></router-outlet>
