<div class="container c1">
    <div class="card ">
      <div class="card-header bg-dark text-center">
        <img src="/assets/synchronize.png" class="card-img-top mx-auto" style="height: 80px; width: 80px;" alt="...">
        <h3 class="heading">Add Admin</h3>
      </div>
      <mat-progress-bar mode="indeterminate" *ngIf="progress"></mat-progress-bar>
      <div class="alert {{class}} alert-dismissible fade show" *ngIf="class" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
          <form #id="ngForm" (ngSubmit)="onSubmit(id)">
              <div class="form-group">
                <label for="exampleInputEmail1">Admin Email</label>
                <input type="email" ngModel name="email" class="form-control" placeholder="Enter Email">
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Admin Password</label>
                  <input type="password" ngModel name="password" class="form-control" placeholder="Enter new Password">
                </div>
                <div class="text-center">
                  <button type="submit" mat-raised-button color="primary">Reset Password</button>
                </div>
          </form>
      </div>
    </div>
  </div>
  