<div class="alert {{class}}" *ngIf="class" role="alert">
    {{message}}
</div>
<form [formGroup]="studentRegistrationForm" (ngSubmit)="doSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Name:</label>
      <input type="text" formControlName="name" class="form-control" placeholder="Student Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Student Email</label>
      <input type="email" formControlName="email" placeholder="Student Email" class="form-control">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Student Password</label>
        <input type="text" formControlName="password" class="form-control" placeholder="Student Password">
      </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Course</label>
      <select  class="form-control" formControlName="courses" id="exampleFormControlSelect1">
        <option *ngFor="let items of courseList">{{items.course}}</option>
      </select>
    </div>
    <div class="text-center">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>